
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="password" aria-label="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>

{{!-- {{#inf error}}
    <p>Usuario y/o contraseña incorrectos</p> 
{{/if}}  --}}